<strong>Olá, {{student.name}}</strong>
<p>Parabéns por se matricular na Gympoint</p>
<ul>
  <li>Plan escolhido: {{plan.title}}</li>
  <li>Duração: {{plan.duration}} meses</li>
  <li>Valor mensal: {{plan.price}}</li>
  <li>Valor total: {{price}}</li>
  <li>Data de início: {{start_date}}</li>
  <li>Data de início: {{end_date}}</li>


</ul>
